.work
  padding: 10px
  box-sizing: border-box
  text-align: center
  background: rgba(245,245,245,1)


  h2
    text-transform: uppercase

  hr
    width: 10%
    height: 3px
    background: $copper
    border: none
    border-radius: 3px
    margin: 10px auto
    margin-bottom: 15px

  .wrapper
    display: inline-block
    max-width: 780px

    .project
      display: inline-block
      text-align: left
      float: left
      margin: 10px
      width: 175px
      border-radius: 3px


      .thumb
        width: 100%
        height: 175px
        border-top-left-radius: 3px
        border-top-right-radius: 3px
        background:
          position: center center
          repeat: no-repeat
          size: cover

      .info
        padding: 10px
        background: white
        border-bottom-left-radius: 3px
        border-bottom-right-radius: 3px
        transition: all .1s ease-in-out

        .title
          font-size: 2rem
          margin: 0 0 0 0
          line-height: 1em

        .date
          margin: 0
          color: $copper

      &:hover
        .info
          background: $copper

          .title
            color: white

          .date
            color: white

    @media screen and (max-width: $m)
      max-width: 585px

    @media screen and (max-width: $s)
      max-width: 390px

    @media screen and (max-width: $xs)
      max-width: 195px

  .three-posts,
  .four-posts,
  .six-posts,
    display: none
  .eight-posts
    display: inline-block

  @media screen and (max-width: $m)
    .three-posts,
    .four-posts,
    .eight-posts,
      display: none
    .six-posts
      display: inline-block
  @media screen and (max-width: $s)
    .three-posts,
    .six-posts,
    .eight-posts
      display: none
    .four-posts
      display: inline-block
  @media screen and (max-width: $xs)
    .four-posts,
    .six-posts,
    .eight-posts
      display: none
    .three-posts
      display: inline-block

  .view-all
    margin: 35px auto 25px auto
    .button
      font-size: 2rem
