.work
  padding: 20px
  box-sizing: border-box
  text-align: center
  background: rgba(245,245,245,1)

  .wrapper
    display: inline-block

    .project
      text-align: left
      float: left
      height: 235px
      margin: 10px
      width: 175px
      border-radius: 3px
      background: white

      .thumbnail
        width: 100%
        border-top-left-radius: 3px
        border-top-right-radius: 3px

      .info
        padding: 10px

        .title
          font-size: 2rem
          margin: 0 0 0 0
          line-height: 1em

        .date
          margin: 0
          color: $copper
