<section class="contact">
  <h2>contact me</h2>
  <hr noshade>


<form method="POST" action="https://formspree.io/jjmm95@icloud.com">

  <div class="contact-info">

    <label><span>NAME</span>
    <input type="text" name="name"></label>

    <label><span>EMAIL</span>
    <input type="email" name="_replyto"></label>

  </div>

  <label><span>MESSAGE</span>
  <textarea name="message"></textarea></label>

  <div class="submit-wrap">
    <input type="submit" value="Send">
  </div>
  
</form>

</section>
