<section class="work">
  <h2>recent work</h2>
  <hr noshade>

<!-- THREE POSTS !-->

  <div class="wrapper cf three-posts">
    {% for post in site.posts limit:3 %}
      <a href="{{ post.url }}" class="project hvr-grow">
        <div class="thumb" style="background-image: url({{post.thumbnail}})"></div>
        <div class="info">
          <p href="{{ post.url }}" class = "title">{{ post.title }}</p>
          <p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
        </div>
      </a>
    {% endfor %}
  </div>

<!-- FOUR POSTS !-->

  <div class="wrapper cf four-posts">
    {% for post in site.posts limit:4 %}
      <a href="{{ post.url }}" class="project hvr-grow">
        <div class="thumb" style="background-image: url({{post.thumbnail}})"></div>
        <div class="info">
          <p href="{{ post.url }}" class = "title">{{ post.title }}</p>
          <p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
        </div>
      </a>
    {% endfor %}
  </div>

<!-- SIX POSTS !-->

  <div class="wrapper cf six-posts">
    {% for post in site.posts limit:3 %}
      <a href="{{ post.url }}" class="project hvr-grow">
        <div class="thumb" style="background-image: url({{post.thumbnail}})"></div>
        <div class="info">
          <p href="{{ post.url }}" class = "title">{{ post.title }}</p>
          <p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
        </div>
      </a>
    {% endfor %}
  </div>

<!-- EIGHT POSTS !-->

  <div class="wrapper cf eight-posts">
    {% for post in site.posts limit:4 %}
      <a href="{{ post.url }}" class="project hvr-grow">
        <div class="thumb" style="background-image: url({{post.thumbnail}})"></div>
        <div class="info">
          <p href="{{ post.url }}" class = "title">{{ post.title }}</p>
          <p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
        </div>
      </a>
    {% endfor %}
  </div>

  <hr noshade>

  <div class="view-all">
    <a href="posts-index.html" class="button">view all</a>
  </div>

</section>
